*{
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    background-color: #f73c3c;
}

h2{
    margin-top: 100px;
    color: #480707;
    font-size: 12vh;
}

.content{
    width: 100%;
    max-width: 2500px;
    height: 100%;

    margin: auto;
    padding-top: 100px;
}

.createDish, .deleteDish, .updateDish{
    background-color: #ffa1a1;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 5vh;
    border-radius: 50px;
}

.createDish .cp, .deleteDish .ep, .updateDish .ap{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.createD{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: 
    "nom nom nom"
    "des des des"
    "img img img"
    "pr cat but";

    place-items: center;
}

#nameDish{
    grid-area: nom;
    width: 80%;
    font-size: 2vh;
    background-color: #ffc7c7;
    border: none;
    border-radius: 30px;
}

#description{
    grid-area: des;
    width: 80%;
    font-size: 2vh;
    background-color: #ffc7c7;
    border: none;
    border-radius: 30px;
    resize: none;
}

#imgDish{
    grid-area: img;
    width: 80%;
    font-size: 2vh;
    background-color: #ffc7c7;
    border: none;
    border-radius: 30px;
}

#priceDish{
    grid-area: pr;
    font-size: 2vh;
    background-color: #ffc7c7;
    border: none;
    border-radius: 20px;
}

#category{
    grid-area: cat;
    font-size: 2vh;
    background-color: #ffc7c7;
    border: none;
    border-radius: 20px;
}

#buttonCreate{
    grid-area: but;
    width: 300px;
    font-size: 2vh;
    background-color: #ffc7c7;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.deleteD{
    display: flex;
    flex-direction: column;
    place-items: center;
}

.dishI{
    width: 70%;
    font-size: 2vh;
    background-color: #ffc7c7;
    border: none;
    border-radius: 30px;

    margin-bottom: 20px;
}

.buttonD{
    width: 500px;
    font-size: 2vh;
    background-color: #ffc7c7;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
}

.updateD{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "id id id"
    "nom nom nom"
    "des des des"
    "img img cat"
    "pr ac bt";

    place-items: center;
}

.dishI{
    grid-area: id;
    width: 80%;
    font-size: 2vh;
    background-color: #ffc7c7;
    border: none;
    border-radius: 30px;
}

.dishN{
    grid-area: nom;
    width: 80%;
    font-size: 2vh;
    background-color: #ffc7c7;
    border: none;
    border-radius: 30px;
}

.dishD{
    grid-area: des;
    width: 80%;
    font-size: 2vh;
    background-color: #ffc7c7;
    border: none;
    border-radius: 30px;
    resize: none;
}

.categoryD{
    grid-area: cat;
    width: 500px;
    font-size: 2vh;
    background-color: #ffc7c7;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.dishIm{
    grid-area: img;
    width: 80%;
    font-size: 2vh;
    background-color: #ffc7c7;
    border: none;
    border-radius: 30px;
}

.dishP{
    grid-area: pr;
    width: 800px;
    font-size: 2vh;
    background-color: #ffc7c7;
    border: none;
    border-radius: 30px;
}

.isActive{
    grid-area: ac;
    width: 300px;
    font-size: 2vh;
    background-color: #ffc7c7;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.buttonU{
    grid-area: bt;
    width: 500px;
    font-size: 2vh;
    background-color: #ffc7c7;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}