*{
    margin: 0;
    text-align: center;
}

body{
    background-color: #f73c3c;
}

#orders{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 10vh;
    color: #841818;
}

/* Estilo del filtrado */
.filter{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}

#dateStart, #dateEnd, #statusOrder{
    background-color: #ff6a6a;
    font-size: 3vh;
    color: #9f1515;
    border: none;
    border-radius: 20px;
}

#dateStart::placeholder, #dateEnd::placeholder{
    color: #9f1515;
}

.button-filter{
    background-color: #ff6a6a;
    color: #9f1515;
    border: none;
    border-radius: 20px;
    font-size: 3vh;
    cursor: pointer;
}

@media (max-width: 700px){
    .filter{
        flex-direction: column;
    }
}

/* Estilo de la lista de ordenes*/
.ordenes{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    margin: 20px;

    place-items: center;
    margin: 0 auto;
}

.listOrd{
    background-color: #ff6a6a;
    width: 250px;
    display: flex;
    flex-direction: column;

    font-size: 2vh;
}

.ordenItems{
    display: flex;
    flex-direction: column;
}

#statusProgress{
    background-color: #ffa1a1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}