*{
    margin: 0;
    text-align: center;
}

body{
    background-color: #f73c3c;
}

.local-cart-summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 30px;
    padding: 10px;
}

.resumeCart{
    font-size: 5vh;
    color: #841818;
}

.cart-item{
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "img img name qua"
    "img img note pri";
    
    gap: 0;
    padding: 0;

    place-items: center;
    justify-content: center;
    align-items: center;
}

.cart-item > *{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #ffc7c7;
}

.imgDish{
    grid-area: img;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.dishName{
    grid-area: name;
    font-size: 3vh;
}

.priceOrd {
    grid-area: pri;
    font-size: 3vh;
    border-radius: 0 0 20px 0;
}

.quantity{
    grid-area: qua;
    margin: auto;
    font-size: 3vh;
    border-radius: 0 20px 0 0;
}

.noteOrder{
    grid-area: note;
    font-size: 1.5vh;
}

.noteOr{
    background-color: #ff6a6a;
    width: 60%;
    font-size: 3vh;
    resize: none;
    border: none;
    border-radius: 50px;
}

.delivery{
    background-color: #ff6a6a;
    border: none;
    font-size: 3vh;
    border-radius: 50px;
    cursor: pointer;
}

.deliveryTo{
    background-color: #ff6a6a;
    width: 80%;
    font-size: 3vh;
    border: none;
    border-radius: 50px;
}

.totalPrice{
    color: #fff1f1;
    font-size: 3vh;
}

.send{
    background-color: #fff1f1;
    
    font-size: 3vh;
    border-radius: 50px;
    cursor: pointer;
}