*{
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    background-color: #f73c3c;
}

#option{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 10vh;
    color: #841818;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

/* Estilos del Filtrado */
.Filter{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}

#searchName ,#category, #price, #isAvailable{
    font-size: 3vh;
    background-color: #FF6a6a;
    color: #9f1515;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

#searchName::placeholder{
    color: #9f1515;
}

.buttonFil{
    background-color: #FF6a6a;
    color: #9f1515;
    font-size: 3vh;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

input[type="checkbox"]{
    display: none;
}

#isAvailable{
    display: inline-block;
    border: none;
    cursor: pointer;
}

#isAvailable:has(input[type="checkbox"]:checked){
    background-color: #841818;
    color: white;
}

/* Estilos del menu de platos */

.menu{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 0;
    padding: 0;

    place-items: center;
    gap: 10px;
    padding: 10px;
}

.menu div{
    width: 500px;
    background-color: #ffa1a1;
    border-radius: 10px;
    font-size: 3vh;
    text-align: center;
    gap: 5px;
    padding: 5px;
}

.menu button{
    background-color: #f73c3c;
    color: #841818;
    font-size: 3vh;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.menu img{
    width: 10vh;
    height: 10vh;
}


.menu input[type="number"]{
    width: 7vh;
    height: 7vh;
    margin-bottom: 5px;
    font-size: 4vh;
    background-color: #f73c3c;
    color: #9f1515;
    border: none;
    border-radius: 5px;

    -moz-appearance: textfield;
}

.menu input[type="number"]::-webkit-inner-spin-button,
.menu input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.menu textarea{
    overflow: hidden;
    width: 90%;
    margin-bottom: 5px;
    font-size: 3vh;
    background-color: #f73c3c;
    color: #9f1515;
    border: none;
    border-radius: 25px;
}

.orders h3{
    color: #9f1515;
    font-size: 5vh;
}

.orders p{
    color: #841818;
    font-size: 3vh;
}

.cart-row{
    width: 500px; 
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "img img name  qua"
    "img img note price"
    "el el el el";

    gap: 0;
    padding: 0;

    justify-content: center;
    align-items: center;
}

.cart-row > *{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.imgDish {
    grid-area: img;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px 0 0 0;
}

.nameDish{
    grid-area: name;
    width: 200px;
    background-color: #ffc7c7;
}

.price{
    grid-area: price;
    width: 200px;
    font-size: 3vh;
    background-color: #ffc7c7;
}

.quantity{
    grid-area: qua;
    font-size: 2vh;
    background-color: #ffc7c7;
    border-radius: 0 10px 0 0;
}

.noteOrder{
    grid-area: note;
    background-color: #ffc7c7;
    font-size: 1.5vh;
}

.delete{
    grid-area: el;
    background-color: #ffa1a1;
    height: 3vh;
    font-size: 2vh;
    color: #9f1515;
    border: none;
    border-radius: 0 0 10px 10px;

    cursor: pointer;
}

.cart-actions{
    margin-top: 50px;
}

.clear{
    background-color: #ffa1a1;
    width: 400px;
    height: 50px;
    font-size: 2vh;
    color: #9f1515;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.go-order{
    background-color: #ffa1a1;
    color: #9f1515;
    margin-left: 20px;
    font-size: 3vh;
    border-radius: 5px;
    text-decoration: none;
}

.upOrder{
    margin: 0 auto;
    background-color: #ffa1a1;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 5vh;
    border-radius: 50px;

    place-items: center;
}

.upOrder .uo{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.upOrder input[type="number"]{
    -moz-appearance: textfield;
}

.upOrder input[type="number"]::-webkit-inner-spin-button,
.upOrder input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.orderId{
    margin: 0 auto;
    width: 80%;
    font-size: 2vh;
    background-color: #ffc7c7;
    border: none;
    border-radius: 30px;
}

.updateO{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    place-items: center;
}

.oiId{
    width: 80%;
    font-size: 2vh;
    background-color: #ffc7c7;
    border: none;
    border-radius: 30px;
}

.oiNOte{
    width: 80%;
    font-size: 2vh;
    background-color: #ffc7c7;
    border: none;
    border-radius: 30px;
    resize: none;
}

.oiQuan{
    margin-left: 10px;
    width: 500px;
    font-size: 2vh;
    background-color: #ffc7c7;
    border: none;
    border-radius: 30px;
}

.oiDelete{
    margin-left: 10px;
    width: 500px;
    font-size: 2vh;
    background-color: #ffc7c7;
    border: none;
    border-radius: 30px;

    cursor: pointer;
}

.agregarD{
    width: 1000px;
    font-size: 2vh;
    background-color: #ffc7c7;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.buttonUO{
    margin-bottom: 50px;
    width: 1000px;
    font-size: 2vh;
    background-color: #ffc7c7;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.orderID{
    margin: 0 auto;
    margin-bottom: 50px;
    width: 90%;
    font-size: 5vh;
    background-color: #ffc7c7;
    border: none;
    border-radius: 50px;
}

.orderID .order{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.orderIdDiv{
    width: 100%;
    cursor: pointer;
}